<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.description %>
</p>

<% if @author.books.present? %>
<h5>Books</h5>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Release date</th>
      <th>Base price</th>
  </thead>

		<%= render @author.books  %>

</table>
<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
